<div class="container-fluid">
  <div class="row-fluid clearfix">
    <div class="col-md-12 column">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">WebWare</a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#/">Home</a>
            </li>
            <li>
              <a href="#/workflow">Workflow</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#/login.html">Login</a>
            </li>
            <li>
              <a href="#/Register.html">Register</a>
            </li>
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" />
            </div><button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
        
      </nav>
    </div>
  </div>
  <div id='content'>
  </div>
  <!-- footer -->
  <footer id="footer">
    <hr/>
    <div class="row-fluid">
      <div class="col-lg-12">
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li>GitHub<li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact & support</a></li>
            <li><a href="#">Enterprise</a></li>
            <li><a href="#">Site status</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li>Applications<li>
            <li><a href="#">Create Site</a></li>
            <li><a href="#">Instance Page</a></li>
            <li><a href="#">Dynamicized Page</a></li>
            <li><a href="#">ServerSide Debugger</a></li>              
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li>Services<li>
            <li><a href="#">Open Source</a></li>
            <li><a href="#">Template Set</a></li>
            <li><a href="#">Hostting Site</a></li>
            <li><a href="#">Job Board</a></li>              
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li>Documentation<li>
            <li><a href="#">Product Help</a></li>
            <li><a href="#">Developer API</a></li>
            <li><a href="#">Product Markdown</a></li>
            <li><a href="#">Product Pages</a></li>              
          </ul>
        </div>  
      </div>
    </div>
    <hr/>
    <div class="row-fluid">
      <div class="col-lg-12">
        <div class="col-md-8">
          <a href="#">Terms of Service</a>    
          <a href="#">Privacy</a>    
          <a href="#">Security</a>
        </div>
        <div class="col-md-4">
          <p class="muted pull-right">© 2014 webware.org</p>
        </div>
      </div>
    </div>
  </footer>
</div>
